@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 100% 100%;
    --foreground: 35 5% 10%;
    --card: 35 50% 100%;
    --card-foreground: 35 5% 15%;
    --popover: 35 100% 100%;
    --popover-foreground: 35 100% 10%;
    --primary: 35 100% 56.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -3 30% 95%;
    --muted-foreground: 35 5% 40%;
    --accent: -3 30% 90%;
    --accent-foreground: 35 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 35 5% 100%;
    --border: 35 30% 82%;
    --input: 35 30% 50%;
    --ring: 35 100% 56.3%;
    --radius: 1rem;

    --theme-500: 35 100% 45%;
    --theme-500-foreground: 0 0% 100%;
  }
  .dark {
    --background: 35 50% 10%;
    --foreground: 35 5% 100%;
    --card: 35 50% 10%;
    --card-foreground: 35 5% 100%;
    --popover: 35 50% 5%;
    --popover-foreground: 35 5% 100%;
    --primary: 35 100% 56.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -3 30% 25%;
    --muted-foreground: 35 5% 65%;
    --accent: -3 30% 25%;
    --accent-foreground: 35 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 35 5% 100%;
    --border: 35 30% 50%;
    --input: 35 30% 50%;
    --ring: 35 100% 56.3%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    @apply mx-auto w-full max-w-screen-xl px-2.5 md:px-20;
  }
}
